#topBorder {
  height: 10px;
  width: 100%;
  background-color: #51355A;
  top: 0;
  position: fixed;
}

#header {
  top: 0;
  width: 97%;
  height: 35vh;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

body {
  max-width: 100%;
  margin: 0 auto;
  border: 10px solid #51355A;
  background-color: #FFFCF9;
}

#container {
  opacity: 1;
  max-width: 1000px;
  margin: 0 auto;
  border: 10px solid #FFFCF9;
}

footer {
  width: 100%;
  height: 20%;
  border: 1px solid blue;
}

a {
  text-decoration: none;
  color: black;
}

table {
  text-align: center;
  margin: 0 auto;
}

td {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.button {
    background-color: #FFFCF9;
    border: none;
    color: black;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    /*font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;*/
}

.fix-menu {
  position: fixed;
}

#home {
  width: 100%;
  height: 65vh;
}

#homeContent {
  width: 60%;
  height: 350px;
  border: 8px solid red;
  margin: 0 auto;
  border-radius: 4px;
}

#head {
  margin-top: 8%;
  width: 49%;
  display: inline;
  float: left;
  margin-left: -26%;
  bottom: 0;
  z-index: 100;
}

#headContent {
  width: 73%;
  height: 100%;
  display: absolute;
  float: right;
  padding-right: 15px;
}

#title {
   color: white;
   margin-top: 35%;
   text-align: center;
   font-size: 45px;
   margin-left: 50px;
   margin-right: 50px;
   font-family: 'Lato', sans-serif;
}

#arrow {
  width: 80px;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
}

h1 {
   color: red;
   text-align: center;
   font-size: 65px;
   font-family: 'Lato', sans-serif;
   margin-top: 30px;
   letter-spacing: 4px;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h3 {
  margin-top: -40px;
  text-align: center;
}



#headComment {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  line-height: 180%;
  margin-top: 23%;
  padding-right: 12px;
  font-style: italic;
  font-size: 20px;
}

#skills, #contact {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

#skillContainer {
  width: 80%;
  height: 200px;
  border: 1px solid blue;
  margin: 0 auto;
}

#good {
  width: 30%;
  display: inline-block;
  height: 190px;
  border: 1px solid black;
}

#ok{
  width: 30%;
  display: inline-block;
  height: 140px;
  border: 1px solid black;
}

#bad {
  width: 30%;
  display: inline-block;
  height: 100px;
  border: 1px solid black;
}

#projects {
  width: 100%;
  border: 1px solid black;
}

#projectImageLeft {
  height: 300px;
  margin: 20px;
  left: 0;
}

#projectImageRight {
  height: 300px;
  display: block;
  margin: 20px;
}
