#topBorder {
  height: 10px;
  width: 100%;
  background-color: #51355A;
  top: 0;
  position: fixed;
}

#header {
  top: 0;
  width: 97%;
  height: 35vh;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

body {
  max-width: 100%;
  margin: 0 auto;
  border: 10px solid #51355A;
  background-color: #FFFCF9;
}

#container {
  opacity: 1;
  max-width: 1000px;
  margin: 0 auto;
  border: 10px solid #FFFCF9;
}

#contact {
  width: 100%;
  height: 20%;
  /*border: 1px solid blue;*/
}

a {
  text-decoration: none;
  color: black;
}

table {
  text-align: center;
  margin: 0 auto;
}

td {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.button {
  background-color: #FFFCF9;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.fix-menu {
  position: fixed;
}

#home {
  width: 100%;
  height: 65vh;
}

#homeContent {
  width: 60%;
  height: 350px;
  border: 8px solid red;
  margin: 0 auto;
  border-radius: 4px;
}

#head {
  margin-top: 8%;
  width: 49%;
  display: inline;
  float: left;
  margin-left: -26%;
  bottom: 0;
  z-index: 100;
}

#headContent {
  width: 73%;
  height: 100%;
  display: absolute;
  float: right;
  padding-right: 15px;
}

#title {
   color: white;
   margin-top: 35%;
   text-align: center;
   font-size: 45px;
   margin-left: 50px;
   margin-right: 50px;
   font-family: 'Lato', sans-serif;
}

#arrow, #arrow2 {
  width: 80px;
  margin: 0 auto;
  display: block;
  margin-top: 3%;
}

h1 {
   color: red;
   text-align: center;
   font-size: 65px;
   font-family: 'Lato', sans-serif;
   margin-top: 30px;
   letter-spacing: 4px;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h3 {
  margin-top: -40px;
  text-align: center;
}

h4 {
  font-family: 'Raleway', sans-serif;
  /*margin-left: 300px;*/
}

li {
  font-family: 'Raleway', sans-serif;
  margin-left: 300px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  padding-left: 20px;
  font-size: 15px;

}

#skillerTable {
  margin-top: 30px;
  width: 90%;
}

#skillTable {
  border: 3px solid #51355A;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  padding: 15px;
  font-size: 15px;
  width: 20%;
  border-radius: 4px;
  /*background-color: #51355A;*/
  /*color: #FFFFFF;*/
}

#headComment {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  line-height: 180%;
  margin-top: 23%;
  padding-right: 12px;
  font-style: italic;
  font-size: 20px;
}

#skills {
  width: 100%;
  height: 100vh;
  /*border: 1px solid black;*/
  padding-top: 30px;
}

#skillContainer {
  width: 80%;
  height: 70vh;
  border: 8px solid red;
  margin: 0 auto;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
}

#skillContent {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  line-height: 150%;
  padding-left: 35px;
  padding-right: 35px;
  /*margin-top: 23%;*/
  /*padding-right: 12px;*/
  font-style: italic;
  font-size: 16px;
}

#projects {
  width: 100%;
  padding-top: 30px;
  /*border: 1px solid black;*/
}

.projectContainer {
  width: 70%;
  margin: 0 auto;
  border: 8px solid red;
  margin-bottom: 80px;
  border-radius: 4px;
}

#projectImageLeft {
  width: 350px;
  margin: 40px;
  margin-left: -200px;
  border: 4px solid #51355A;
  border-radius: 4px;
  display: inline-block;
}

.projectContentLeft {
  width: 440px;
  display: absolute;
  float: right;
  margin-top: -340px;
  margin-right: 40px;

  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  line-height: 180%;
  margin-top: 23px;
  margin-bottom: 30px;
  padding-left: 20px;
  font-style: italic;
  font-size: 15px;
}

#projectImageRight {
  width: 350px;
  display: absolute;
  border: 4px solid #51355A;
  border-radius: 4px;
  float: right;
  margin-top: -365px;
  margin-right: -190px;
}

.projectContentRight {
  width: 440px;
  /*height: 400px;*/
  /*border: 1px solid black;*/
  display: absolute;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  line-height: 180%;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-left: 30px;
  font-style: italic;
  font-size: 15px;
}

#voyagerImageRight {
  width: 350px;
  display: absolute;
  border: 4px solid #51355A;
  border-radius: 4px;
  float: right;
  margin-top: -445px;
  margin-right: -30px;
}

.voyagerContentRight {
  width: 440px;
  /*height: 400px;*/
  /*border: 1px solid black;*/
  display: absolute;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .3px;
  line-height: 180%;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-left: 30px;
  font-style: italic;
  font-size: 15px;
}

#footer {
  width: 15%;
  margin: 0 auto;
  /*border: 1px solid black*/
}

#icon {
  width: 26%;
  padding: 5px;
  padding-bottom: 30px;
}
